<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Encrypted URL Params Test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container">
  <h4 class="mt-5">Data Input</h4>
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label>gender</label>
      <input type="text" class="form-control" formControlName="gender">
    </div>
    <div class="form-group">
      <label>lastName</label>
      <input type="text" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group">
      <label>firstName</label>
      <input class="form-control" type="text" formControlName="firstName">
    </div>
    <div class="form-group">
      <label>street</label>
      <input class="form-control" type="text" formControlName="street">
    </div>
    <div class="form-group">
      <label>postalCode</label>
      <input class="form-control" type="text" formControlName="postalCode">
    </div>
    <div class="form-group">
      <label>city</label>
      <input class="form-control" type="text" formControlName="city">
    </div>
    <div class="form-group">
      <label>addressLine1</label>
      <input class="form-control" type="text" formControlName="addressLine1">

    </div>
    <div class="form-group">
      <label>addressLine2</label>
      <input class="form-control" type="text" formControlName="addressLine2">

    </div>
    <div class="form-group">
      <label>birthDate</label>
      <input class="form-control" type="text" formControlName="birthDate">

    </div>
    <div class="form-group">
      <label>nationality</label>
      <input class="form-control" type="text" formControlName="nationality">

    </div>
    <div class="form-group">
      <label>mobile</label>
      <input class="form-control" type="text" formControlName="mobile">

    </div>
    <div class="form-group">
      <label>phone</label>
      <input class="form-control" type="text" formControlName="phone">
    </div>
    <div class="form-group">
      <label>email</label>
      <input class="form-control" type="text" formControlName="email">
    </div>
    <div class="form-group">
      <label>correspondenceLanguage</label>
      <input class="form-control" type="text" formControlName="correspondenceLanguage">
    </div>
  </form>

  <button class="btn btn-success" (click)="generateValues()">Generate Random Values</button>

  <h4 class="mt-5">Encryption Info</h4>

  <form>
    <div class="form-group">
      <label>Public Key</label>
      <textarea class="form-control" type="text" [formControl]="publicKeyInput" rows="9"></textarea>
      <small class="form-text text-muted">Public key in PEM format See: <a href="https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#subjectpublickeyinfo">SubjectPublicKeyInfo</a> </small>
    </div>
  </form>

  <div class="alert alert-info mt-5">
    Data Encryption Algo: AES-CBC
  </div>

  <table class="table table-responsive">
    <thead>
    <tr>
      <th>Description</th>
      <th>Length</th>
      <th>Content</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Query String</th>
      <td>{{ rawLength }}</td>
      <td class="text-break">{{ dataString }}</td>
    </tr>
    <tr>
      <th>Encrypted Base64</th>
      <td class="">{{ encryptedBase64.length }}</td>
      <td>{{ encryptedBase64 }}</td>
    </tr>
    <tr>
      <th>AES Key</th>
      <td class="">{{ aesKeyBase64.length }}</td>
      <td class="">{{ aesKeyBase64 }}</td>
    </tr>
    <tr>
      <th>IV</th>
      <td class="">{{ ivBase64.length }}</td>
      <td class="">{{ ivBase64 }}</td>
    </tr>
    <tr>
      <th>Wrapped Encryption Key</th>
      <td class="">{{ wrappedKeyBase64.length }}</td>
      <td class="">{{ wrappedKeyBase64 }}</td>
    </tr>
    </tbody>

    <thead>
    <tr>
      <th colspan="3">Total Data length: {{ ivBase64.length + encryptedBase64.length + wrappedKeyBase64.length }} </th>
    </tr>
    <tr>
      <th colspan="3">Total URL length: {{ url.length }} </th>
    </tr>
    </thead>
  </table>
  <hr>
  <h4 class="mt-5">Sample URL</h4>
  <form>
    <div class="form-group">
      <label>Orion VTR Url</label>
      <input class="form-control" type="text" [formControl]="urlFormControl" >
    </div>
  </form>
  <div class="alert alert-info mt-5">
    Sample Request: <a href="{{ url }}">{{ url }}</a>
  </div>

</div>
